.filter{
    background-color: #ffffff;
    width: 217px;
    padding: 10px;
    /*float: right;*/
}
.filter .node{
    float: left;
    min-width: 70px;
    text-align: left;
}
.filter .item{
    clear: both;
    text-align: left;
    margin-bottom: 10px;
    padding: 10px;
    overflow: hidden;
}
.filter h3{
    margin-bottom: 5px;
    font-size: 12px;
}
.filter h3 span{
    border-bottom: 1px dotted black;
}
.filter select{
    width: 182px;
}









.formCost {
	float: left;
	margin-bottom: 10px;
    text-align: center;
}
.formCost label {
	float: left;
	font-size: 12px;
	color: #E40000;
	font-weight: bold;
	margin-right: 5px;
	position: relative;
	top: 2px;
}
.formCost input {
	/*float: left;*/
	text-align: center;
	color: #434343;
	font-size: 12px;
	font-weight: bold;
	width: 55px;
	height: 17px;
	border: 1px solid #E5E5E5;
	margin-right: 10px;
}

.sliderCont {
	width: 178px;
	height: 27px;
	float: left;
}

/* А это правила для скрипта:  */
#slider {
	width: 200px;
}

.ui-slider {
	position: relative;
}
.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 13px;
	height: 17px;
	background: url('/include/slider-handler-right.png') no-repeat;
	cursor: pointer
}
.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	overflow: hidden;
}
.ui-slider-horizontal {
	 height: 3px;
}
.ui-slider-horizontal .ui-slider-handle {
	top: 2px;
	/*margin-left: -6px;*/
}
.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
	left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}
.ui-widget-content {
	border: 1px solid #D4D4D4;
	background: #fff;
}
.ui-widget-header {
	border: 1px solid #D4D4D4;
	background: #F00;
}
.ui-corner-all {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.ui-corner-all a:nth-child(2){
    background: url('/include/slider-handler-left.png') no-repeat;
    margin-left: -6px;
}
